:root {
  --border-team-color : rgb(62,80,54);
  --line-color : rgb(0, 0, 0);
}

body {
  font-family: "Bebas Neue", sans-serif;
}

@media only screen and (max-width: 768px) {
  #root {
    display: none;
  }
  
  body {
    background-color: lightblue;
  }

  body:after {
    content: "Website was created for PC screen (>=1024px) only!";
    font-size: 24px;
    display: flex;
    justify-content: center;
  }

}

.modal {
  width: 35vw;
  background: url(https://i.imgur.com/fxJPJUi.png);
  background-size: 100% 100%;
}

.modal-result {
  background: url(https://i.imgur.com/fxJPJUi.png);
  background-size: 100% 100%;
}

.modal-result .box-body {
  position: relative;
}

#first, #second {
  color: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
  position: absolute;
}

.modal-result .result-img {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.ReactModal__Overlay {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.overlay {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.heading-container {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 6.8vw;
  margin: 10px 40px 10px 50px;
  font-weight: 700;
  line-height: 1em;
  font-style: italic;
}

.heading-container div {
  box-shadow: 2px 1px rgb(0 0 0 / 10%);
  background-color: rgb(255 255 255 / 10%);
  padding: 5px 20px 5px 5px;
  text-transform: uppercase;
}

.subhead {
  float: right;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav-choose {
  cursor: pointer;
  padding: 5px 5px;
  transition: background-color 200ms ease-in-out;
}

.nav-choose:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
}

.team {
  box-shadow: 2px 2px rgba(43, 48, 57, 0.4);
  font-family: 'Oswald', serif;
  border-left: 0.41vw solid rgb(40, 130, 134);
  height: 100%;
  background-color: rgb(43, 48, 57);
  color: white;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.line-p1 {
  border-right: 0.14vw solid var(--line-color);
  border-top: 0.14vw solid var(--line-color);
  border-bottom: 0.14vw solid var(--line-color);
}

.line-p2 {
  border-top: 0.14vw solid var(--line-color);
}

#main-board {
  display: grid;
  grid-template-columns: repeat(30, calc(100vw/30));
  grid-template-rows: repeat(35, calc(100vh/35));
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  
}

.box_header {
  color: #fff;
  font-size: 1.7vw;
  background: linear-gradient(to right, #1b20ff 0%, #c404ff 100%);
  text-align: center;
  line-height: 1em;
  padding: 10px;
}

form {
  width: 100%;
  height: 100%;
  position: relative;
}

.box_body {
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  font-size: 1vw;
}

.flex-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  justify-content: center;
}

.left {
  text-align: right;
  padding-right: 20px;
  width: 30%;
}

.left-select .team, .right-select .team {
  height: 2.7vw;
  transition: background-color 200ms ease-in-out;
}

.left-select .team:hover, .right-select .team:hover {
  background-color: rgba(43, 48, 57, 0.8);
}

.right {
  flex-grow: 1
}

.box_body input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
  display: block;
  padding: 5px;
  width: 70%;
}

input[type="checkbox"]{
  zoom: 1.25;
  width: unset;
}

input[type="color"] {
  width: 40px;
}

.box_footer {
  position: relative;
  bottom: 0;
  right: 0;  
  padding: 10px;
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
}

.box_footer .btn {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  color: rgb(0,0,0);
  min-width: 100px;
  text-align: center;
  padding: 5px 10px;
  margin-left: 5px;
  background: linear-gradient(to right, #44cdff 0%, #39ffef 100%);
  border: 0;
  cursor: pointer;
  height: 2.7vw;
  transition: color 200ms ease-in;
}

.box_footer .btn:hover {
  color: #888;
}

.box_footer .btn-cancel {
  background: none;
}

.box_footer .btn-reset {
  color: #fff;
  background: #094aff !important;
  background: -webkit-gradient(linear, left top, right top, from(#094aff), to(#5277ff)) !important;
  background: -o-linear-gradient(left, #094aff 0%, #5277ff 100%) !important;
  background: linear-gradient(to right, #094aff 0%, #5277ff 100%) !important;
}

.left-select {
  width: 50%;
  margin-right: 10px;
}

.right-select {
  flex-grow: 1
}

.left-select input[type="radio"], .right-select input[type="radio"] {
  display: none;
}

input[type="radio"]:not(:checked)+label {
  border-color: #4062F6;
  background-color: rgba(97, 154, 234, 0.4);
}

.flex-container input[type="number"] {
  display: unset;
  width: 40px;
}

input[disabled] {
  cursor: not-allowed;
}

.result {
  display: flex;
}

.result p {
  margin: 2px auto;
  display: inline-block;
  text-align: center;
  font-size: 1.5vw;
}

.result p span {
  padding: 0 4px;
  background-color: rgb(156, 210, 3);
  margin-right: 3px;  
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6vw;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

  font-feature-settings: 'liga';
}

.material-icons-outlined.md-36 {
  font-size: 2.3vw;
}
.material-icons-outlined.md-48 {
  font-size: 3.3vw;
}

.material-icons-outlined.gold {
  color: gold
}

.material-icons-outlined.fade {
  color: rgba(0, 0, 0, 0.6)
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5vw;
  padding: 5px;
}

.about-me {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1.2vw;
}

.about-me p {
  padding: 5px 0;
}

.qr-image {
  width: 120px;
  margin: 5px auto 10px auto;
  display: block;
}